<?xml version="1.0"?>
<!--
/**
 * Paulmillband_AdminProductsToCategory Module
 *
 * @category    Paulmillband
 * @package     Paulmillband_AdminProductsToCategory
 * @author      Paulmillband
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../magento/framework/Module/etc/module.xsd">
    <module name="Paulmillband_AdminProductsToCategory" setup_version="1.0.0.0">
        <sequence>
            <!--<module name="Magento_Store"/>-->
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>